
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color:  #d9d1cc;

}

nav a img.logo {
    height: 80px;
    width: 80px;
    margin-right: 40px;
    margin-top: 5px;
    <text-align: left;
    border-radius: 50%; 
}

nav a {
    color: black;
    font-size: 20px;
    text-align: auto;
    padding: 15px 40px;
    text-decoration: none;
    display: inline-block;
}


nav a:hover {
    background-color: #d9d1cc;
    color: black;
}
nav {
    background-color: #d9d1cc ;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 15px;
}

.container{
    display: flex;
    flex-direction: column;

}

.intro {
    background-color: #d9d1xx;
    font-size: 25px;
    padding: 10;
    float: right;
}
.intro p {
    font-size: 20px;
    font-weight: bold;
    color: d9d1cc;
}
.caption {
    background-color: d9d1cc;
    padding: 10px;
}

.caption p {
    font-size: 10px;
    lineheight1.0;
    color: d9d1cc;
    float:right;

}
.CV{
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 15px;

}


nav img {
    height: 250px; 
    width: 250px;
    border-radius: 50%;
    margin: auto; 
    border-radius: 50%;
    margin-left: 10%;
}

.detel{
    text-align: center;
    color: white;
    padding:5px;
}

*/body {
    font-family: Arial, sans-serif;
    background-color: #d9d1cc; 
    margin: 0;
    padding: 0;
    color: black
}

h2, h3, h4, p {
    color: black/
}

.contact-page {
    text-align: center;
    margin: 20px 0;
}

.contact-page h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-info, .contact-form {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    box-sizing: border-box;
    padding: 20px;
}

.contact-info {
    text-align: left;
    float: left;
    margin-left: 5%;
}

.contact-info h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info a {
    color: black;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    text-align: left;
    float: right;
    margin-right: 5%;
}

.contact-form h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
    resize: vertical;






    


