
 body {
    font-family:  italic;
    margin: 0;
    background-color: #FFE4E1;
    padding: 0;
}

nav a img.logo {
    height: 80px;
    width: 80px;
    margin-right: 40px;
    margin-top: 5px;
    text-align: left;
    border-radius: 50%;
}
img.logo:hover{
    transform: scale(1.1);
}
nav {
    background-color: #FFE4E1;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 15px;
}
nav a {
    color: black;
    font-size: 30px;
    padding: 25px 40px;
    display: inline-block;
    text-decoration: underline;
}

nav a:hover {
    background-color: #FFE4E1;
    color: black;
    transform: scale(1.2);
    color: hotpink;
}


.intro {
    background-color: #FFE4E1;
    font-size: 35px;
    padding: 20px;
    display: flex;
    align-items: center; 
    margin-left: 5%;
}

.intro p {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 10%;
}

.caption {
    background-color:#FFE4E1;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 25%;
    margin-top: -16%;
}

.caption p {
    font-size: 20px;
    color: black;
    margin: 0;
}



nav img {
    height: 250px;
    width: 230px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    margin-left: 3%;

}

.CV {
    display: inline-block;
    background-color: #FFE4E1;
    text-align: center;
    font-size: 30px;
    color: black;
    margin-left: 45%;
    text-decoration: underline;
    cursor: pointer;

}


.contact-page {
    text-align: center;
    margin: 20px 0;
}

.contact-page h2 {
    font-size: 30px;
    margin-top: 40px;
    text-decoration: underline;
}
.contact-page h2:hover{
    text-decoration: underline;
    transform: scale(1.0);
}

.contact-info {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
    width: 40%; 
    float: left;
    font-size: 20px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.contact-info h3 {
    font-size: 15px;
    text-decoration: underline;
    margin-top: 4%;
    margin-left: 4%;
}

.contact-info p {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 4%;
}

.contact-info a {
    color: #000; 
    text-align: left;
}


.contact-form {
    width: 50%; 
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="Name"],
textarea {
    width: 60%;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 40px;
    border-block-color: black;
    
}

input[type="text"],
input[type="email"],
textarea {
    width: 60%;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    border-block-color: black;
}

input[type="text"],
textarea#message {
    width: 60%;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    border-block-color: black;
    margin-top: 5px;
    

}

input[type="submit"] {
    display: block;
    width: 40%;
    margin: 20px auto;
    padding: 10px;
    background-color: black;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-right: 6%;
    margin-top:5px;
}


h2 {
    margin: 20px 0;
    color: black;
}

p {
    margin: 0 0 10px;
    color: #555;
}


.page {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 2px;
    width: 40%;
    border-radius: 50%;
    margin-left: 27%;
    text-decoration: underline;
    margin-top: 3%;
}

.grid {
    width:400px;
    display: grid;
    margin:20px auto;
    gap: 10px;
    padding:10px;
    background-color: #FFE4E1;
    margin-top: 5%;
    
}

.grid div {
    background-color: lightpink;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.grid div img {
    width:400px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;

}


footer {
    padding: 10px;
    background-color:#FFE4E1;
    width: 100%;
    margin-top: 20px;
}



.topic {
    text-align: center;
}
.topic h2 {
    font-size: 30px;
    background-color:#FFE4E1 ;
    width: 20%;
    margin-bottom: 3%;
    margin-left: 38%;
    text-decoration: underline;
}

.Introduction {
    background-color:#FFE4E1;
    font-size: 20px;
}
.Introduction h3 {
    text-align: left;
    color: black;
    margin-bottom: 2px;
}

.Introduction p {
    display: inline-block;
    font-size: 20px;
    background-color: lavenderblush;
    color: black;
}
.vision {
    font-size: 20px;
    border-block-color: black;
}
.vision h4 {
    text-align: left;
    color: black;
    margin-bottom: 2px;
}
.vision p{
    display: inline-block;
    font-size: 20px;
    background-color: lavenderblush;
    color: black;
    border-block-color: black;
}
